#aboutPage {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  text-align: center;
  max-width: 100vw;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#aboutPaddedContainer {
  margin-left: 10vw;
  margin-right: 10vw;
}

h1 {
  font-family: cursive;
  font-size: 40px;
}

#contactFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 3px;
}

#aboutContentDiv {
  background-color: #ffb3c6;
  height: 60vh;
  font-size: 22px;
}

.section {
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
}

#titleDiv {
  background-color: #ffe5ec;
  color: #fb6f92;
  height: 4vh;
  font-size: 28px;
  font-family: cursive;
}

#contactDiv {
  background-color: #ffe5ec;
  color: #fb6f92;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleContainer {
  height: 2vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffe5ec;
  color: #fb6f92;
}

.titleHeader {
  font-size: 40px;
  font-family: cursive;
  font-weight: bold;
}
