.addSpecificDate:hover {
  cursor: pointer;
}

.availabilityContainer {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  padding-bottom: 20px;
}

.availabilityContent {
  display: flex;
  text-align: left;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.specificDatesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.weeklyHoursContainer {
  width: 50%;
  padding: 20px;
  border-right: 1px solid gray;
}

.specificHoursContainer {
  width: 50%;
  padding: 20px;
}

#paddedContainer {
  margin-left: 10vw;
  margin-right: 10vw;
}

h1 {
  font-family: cursive;
  font-size: 40px;
}

#contentDiv {
  background-color: #ffb3c6;
  min-height: 70vh;
  font-size: 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section {
  width: 100%;
  text-align: center;
}

.titleContainer {
  height: 2vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffe5ec;
  color: #fb6f92;
}

.titleHeader {
  font-size: 40px;
  font-family: cursive;
  font-weight: bold;
}

#appointmentsDiv {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

#appointmentsDiv button {
  background-color: rgb(255, 143, 171);
  color: black;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

#appointmentsDiv button:hover {
  background-color: #ffe5ec;
}

#aptsResDiv {
  margin-top: 20px;
}

#apptsDivContainer {
  background-color: #ffb3c6;
  padding-bottom: 50px;
}


