.navContainer {
  border-radius: 150px;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 30px;
  right: 50px;
}

.navButton {
  width: 150px;
  height: 40px;
  border: 0px;
  background-color: lightseagreen;
}

.selectedNavButton {
  width: 150px;
  height: 40px;
  border: 0px;
  font-weight: bold;
  background-color: darkcyan;
}

.navButton:hover {
  font-weight: bold;
  background-color: darkcyan;
  cursor: pointer;
}
