.servicesContainer {
  background-color: #ffb3c6;
  overflow-y: auto;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#leftHairOptions {
  width: 50%;
  display: flex;
  align-items: flex-end;
  padding-right: 20px;
  flex-direction: column;
}

.confirmBookingContainer {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 3px;
}

.confirmBookingSection {
  width: 97%;
  padding: 30px;
  display: flex;
  justify-content: center;
}

#rightHairOptions {
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
  flex-direction: column;
}

.bookContainer {
  width: 100%;
  padding-top: 4vh;
  padding-bottom: 4vh;
  display: flex;
}

.titleContainer {
  height: 2vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffe5ec;
  color: #fb6f92;
}

.titleHeader {
  font-size: 40px;
  font-family: cursive;
  font-weight: bold;
}
